.select-container {
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  margin: 1em auto;
  padding: .5em;
}
.select {
  padding: .5em;
  border-radius: 10px;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between; 
}
.select-open {
  background-color: #e7e7e7;
}
.select-form {
  display: flex;
  flex-direction: column;
  margin: .5em auto;
}
.select-form input {
  display: none;
}
.label {
  background: #fefefe;
  border-radius: 5px;
}
.label:hover{
  background: #e7e7e7;
}
.select-form-open{
  display: none;
}
